<div class="parallax" style="text-align:center">
    <h1>Logan Fladung</h1>
</div>

<div class="parallax2">
  <h1>Projects</h1>
    
    <mdb-card class="project">
      <mdb-card-header class="primary-color white-text">
        <h4>Rainbow Snake</h4>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
      </mdb-card-body>
    </mdb-card> 
    
    <mdb-card class="project">
      <mdb-card-header class="primary-color white-text">
      <h4>RSS Feed Reader</h4>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
      </mdb-card-body>
    </mdb-card>
    
    <mdb-card class="project">
      <mdb-card-header class="primary-color white-text">
        <h4>Abelian Sandpile</h4>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
      </mdb-card-body>
    </mdb-card>
    
    <mdb-card class="project">
      <mdb-card-header class="primary-color white-text">
      <h4>Squad Command</h4>
      </mdb-card-header>
      <mdb-card-body>
        <mdb-card-text>With supporting text below as a natural lead-in to additional content.</mdb-card-text>
        <a mdbBtn color="primary" class="waves-light" mdbWavesEffect>Go somewhere</a>
      </mdb-card-body>
    </mdb-card>  
</div>

<div class="parallax3">
</div>

<div class="parallax4">
</div>